@tailwind base;
@tailwind components;
@tailwind utilities;


.icon{
/* 
    border:  2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

